{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

{% if age > 18 %}

    <p>Tu es Majeur</p>
{% else %}
    <p>Tu es Mineur</p>
{% endif %}
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus molestiae qui est, quos dolor facilis eius, corporis unde, atque velit tenetur consequuntur tempore beatae dolores provident totam quod fugit! Dolores expedita inventore repellat esse praesentium sunt explicabo sint. Blanditiis, incidunt.</p>
<p>Blanditiis tempora dolorum maxime minima repudiandae! Voluptate dolorem ex quasi. Atque cumque sunt quia consequatur enim animi! Sequi quae porro molestiae nulla asperiores voluptatum sit, numquam consequatur consequuntur quod ea reprehenderit aperiam saepe dolorum molestias impedit voluptatem, maiores quam eos.</p>
{% endblock %}
