{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 29/09/2021 à 19:00 dans la Catégorie Réseau</div>
    <div class="content">
        <img src="http://placehold.it/350x10" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem qui blanditiis. Magni, blanditiis consequuntur.</p>
        <p>Iusto nemo asperiores voluptatibus quibusdam voluptatem perferendis. Nesciunt earum voluptates, autem doloremque facere voluptate praesentium.</p>
       <hr>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti blanditiis est aperiam earum omnis rerum. Enim dolorem unde ad saepe ipsam sed minus beatae omnis quae illum ipsa minima vel sapiente atque pariatur optio tempora porro voluptate vero aspernatur, dolorum vitae. Maxime itaque iusto cupiditate sunt in excepturi ducimus impedit.</p>
       <p>Accusantium quo similique ratione porro asperiores, labore dolore, culpa ullam consequatur blanditiis animi earum officiis tenetur eaque temporibus aut provident dolorem illum nemo placeat quae aspernatur. Ut ab labore quod, cum corrupti quasi voluptatum eum culpa eos maxime sed alias, odio minus dolorum aspernatur voluptatem nihil voluptatibus. Vero, nulla sapiente.</p>
    </div>
</article>


{% endblock %}